@inject LeagueApiService apiService

<div class="mb-3">
    <label for="selectJsonResultInput" class="form-label">Select json File</label>
    <InputFile class="form-control" id="selectJsonResultInput" accept=".json"/>
    <CancelSubmitButtons/>
</div>

@code {
    
}
