@page "/members/login"
@using System.ComponentModel.DataAnnotations
@using iRLeagueApiCore.Client
@using iRLeagueApiCore.Client.Http
@using iRLeagueApiCore.Common.Responses;
@using iRLeagueManager.Web.Extensions
@inject IConfiguration configuration
@inject ILeagueApiClient ApiClient
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]

<div class="container-sm" style="max-width: 790px;">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <EditForm Model=@model OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <StatusResultValidator @ref=ResultValidator />
                <div class="form-group mb-3">
                    <label>Username</label>
                    <InputText @bind-Value="model.Username" class="form-control" />
                    <ValidationMessage For="@(() => model.Username)" />
                </div>
                <div class="form-group mb-3">
                    <label>Password</label>
                    <InputText @bind-Value="model.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => model.Password)" />
                </div>
                <FormValidationMessage TValue=string Message=@ResultValidator?.ErrorMessage />
                @if (ResendConfirmation)
                {
                    <a href="./member/resend-confirmation"><p>Resend confirmation Email</p></a>
                }
                <button disabled="@loading" class="btn btn-primary mt-3 mb-3">
                    @if (loading) 
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
            </EditForm>
            <div class="mb-3">
                <a href="./member/PasswordReset">Forgot password</a>
            </div>
            <div>
                <small>Not a member yet?</small>
            </div>
            <button class="btn btn-secondary" @onclick=@(() => NavigationManager.NavigateTo("/member/register"))>
                Sign Up
            </button>
        </div>
    </div>
</div>

@code {
    public record User
    {
        [Required]
        public string Username { get; set; } = string.Empty;
        [Required]
        public string Password { get; set; } = string.Empty;
    }

    [CascadingParameter]
    private Task<AuthenticationState> AuthTask { get; set; } = default!;

    private bool loading;
    public bool Loading { get => loading; set { loading = value; InvokeAsync(StateHasChanged); } }

    private bool ResendConfirmation { get; set; } = false;

    private StatusResultValidator? ResultValidator { get; set; }

    public User model = new User();

    protected override async Task OnParametersSetAsync()
    {
        BlazorParameterNullException.ThrowIfNull(this, AuthTask);

        var authState = await AuthTask;
        if (authState.User.Identity?.IsAuthenticated == true)
        {
            var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
            NavigationManager.NavigateTo(returnUrl);
        }
    }

    public async Task OnValidSubmit()
    {
        if (ApiClient.IsLoggedIn == false)
        {
            try 
            {
                Loading = true;
                ResendConfirmation = false;
                var result = await ApiClient.LogIn(model.Username, model.Password);
                if (result.Success == false)
                {
                    ResultValidator?.ValidateResult(result.ToStatusResult());
                    if (result.ToStatusResult().Message == "MailConfirm")
                    {
                        ResendConfirmation = true;
                    }
                    return;
                }
                var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
                NavigationManager.NavigateTo(returnUrl, forceLoad: true);
            }
            finally
            {
                Loading = false;
            }
        }
    }
}