@using iRLeagueManager.Web.ViewModels
@inherits MvvmComponentBase
@inject ScoringsViewModel vm
@inject LeagueApiService apiService
@inject ILogger<SeasonSettings> logger

<h3>ScoringSettings</h3>

<div>
    @foreach (var scoring in @Bind(vm, x => x.Scorings))
    {
        <p>@Bind(scoring, x => x.Name)</p>
    }
</div>

@code {
    private async Task HandleSubmit()
    {
        logger.LogInformation("Handle submit called!");
        //await vm.Selected.SaveCurrentModel();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false)
        {
            return;
        }
        if (apiService.CurrentLeague != null && apiService.Shared.SeasonId != 0)
        {
            await vm.LoadFromSeason(apiService.Shared.SeasonId);            
        }
        StateHasChanged();
    }
}
