@page "/leagues"
@using iRLeagueApiCore.Communication.Models;
@using System.Text;
@using iRleagueManager.Web.Server.Data; 
@inject ILocalStorageService localStorage;
@inject HttpClient Http;
@inject ApiAuthentication Authenticator

<h1>Leagues</h1>

@if (leagues == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in leagues)
            {
                <tr>
                    <td>@league.LeagueId</td>
                    <td><NavLink class="nav-link" href="@($"{league.Name}/seasons")">@league.Name</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string BaseUri = "https://irleaguemanager.net/irleagueapi";
    private GetLeagueModel[] leagues;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = await localStorage.GetItemAsStringAsync("ApiToken");

            if (string.IsNullOrEmpty(token))
            {
                token = await Authenticator.AuthenticateAsync();
                await localStorage.SetItemAsStringAsync("ApiToken", token);
            }

            if (string.IsNullOrEmpty(token) == false)
            {
                Http.DefaultRequestHeaders.Add(
                    "Authorization",
                    "Bearer " + token
                );
            }

            leagues = await Http.GetFromJsonAsync<GetLeagueModel[]>(BaseUri + "/League");
            StateHasChanged();
        }
    }
}
