@namespace iRLeagueManager.Web.Components
@page "/cookies"

<MudContainer>
    <h1>We are using cookies</h1>

    <p>This website requires the use of cookies that are essential to its functions. Usage of cookies includes:</p>
    <MudList>
        <MudListItem>User Authentication</MudListItem>
        <MudListItem>Website & Cookie Preferences.</MudListItem>
    </MudList>

    <p>If you have cookies disabled in your browser some features of this website might not function properly.</p>

    <p>The user will be informed and asked again when there are changes to the usage of cookies in the future.</p>
</MudContainer>

@code {

}
