@using iRLeagueApiCore.Common.Models;
<label class="@(MuteTextOnFallback && string.IsNullOrEmpty(League?.NameFull) ? "text-muted" : "")" title="@GetLeagueName()">@GetLeagueName()</label>

@code {
    [Parameter]
    public LeagueModel? League { get; set; }
    [Parameter]
    public string Fallback { get; set; } = string.Empty;
    [Parameter]
    public bool MuteTextOnFallback { get; set; } = false;

    private string GetLeagueName()
    {
        return GetLeagueName(League, Fallback);   
    }

    public static string GetLeagueName(LeagueModel? league, string fallback = "")
    {
        if (league is null)
        {
            return fallback;
        }
        if (string.IsNullOrEmpty(league.NameFull))
        {
            return league.Name;
        }
        return league.NameFull;
    }
}
