@using iRLeagueManager.Web.ViewModels

@if (Session != null)
{
    <div class="input-group">
        <span class="input-group-text w-25">Duration</span>
        <input class="form-control" type="time" arial-label="StartTime" @bind="Session!.Duration"/>
    </div>
    <div class="input-group">
        <span class="input-group-text w-25">Laps</span>
        <input class="form-control" type="number" placholder="10" aria-label="TrackId" @bind="Session!.LapsString"/>
    </div>
}

@code {
    [Parameter]
    public SessionViewModel? Session { get; set; }
}
