@namespace iRLeagueManager.Web.Components
@using System.Diagnostics.CodeAnalysis
@using Ganss.Xss
@inherits InputBase<string>

<div class="@CssClass" @attributes=AdditionalAttributes>
    <MudTabs>
        <MudTabPanel Text="Edit">
            <MudTextField @bind-Value="CurrentValueAsString"
                          Variant="Variant.Outlined"
                          Lines="25" 
                          FullWidth="true"
                          Style="font-family: 'Consolas', 'Lucida Console'"/>
        </MudTabPanel>
        <MudTabPanel Text="Preview">
            <MudField Variant="Variant.Outlined">
                <DisplayMarkdown Text=@Value Style="width: 100%; overflow: auto;" />
            </MudField>
        </MudTabPanel>
    </MudTabs>
</div>

@code {
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out string result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        validationErrorMessage = null;
        result = value ?? string.Empty;
        return true;
    }
}
