@using System.ComponentModel

<div @attributes=@AdditionalAttributes>
    <div style="display:inline-block">
        <h3>@ChildContent</h3>
    </div>
    @if (Loading)
    {
        <div class="lds-ring">
            <div></div>
        </div>
    }
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public bool Loading { get; set; }
}
