@using System.ComponentModel

<div @attributes=@AdditionalAttributes>
    <div class="d-flex flex-nowrap gap-2">
        @ChildContent
        <div class="spinner-border" style="height:1.5rem; width:1.5rem; @(Loading == false ? "visibility:hidden" : "")" role="status" />
    </div>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
    [Parameter]
    public bool Loading { get; set; }
}
