@preservewhitespace true
<span class="d-inline-block pe-1" style="min-width: 1em;">
    @if (ValueTemplate is not null)
    {
        @ValueTemplate(Value)
    }
    else
    {
        @Value
    }
</span>
<span class="d-inline-block pos-change @(ChangeClass(Change))">@Change</span>

@code {
    [Parameter]
    public double Value { get; set; }
    [Parameter]
    public double Change { get; set; }
    [Parameter]
    public RenderFragment<double>? ValueTemplate { get; set; }

    private static string ChangeClass(double change)
    {
        return change > 0 ? "positive" : change < 0 ? "negative" : "equal";
    }
}
