@using Microsoft.AspNetCore.Components.Web
@namespace iRLeagueManager.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <meta name="color-scheme" content="dark light">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark.min.css" rel="stylesheet">

    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="iRLeagueManager.Web.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        window.enableTooltips = (defaultPlacement) => {

            document.querySelectorAll('[data-bs-toggle="tooltip"]')
                .forEach(function (tooltip) {
                    new bootstrap.Tooltip(tooltip, {delay: {"show": 500, "hide": 100}, placement: defaultPlacement, html: true});
                });
        }
    </script>
    <script>
        window.GetIANATimeZone = () => {
            return Intl.DateTimeFormat().resolvedOptions().timeZone;
        }
    </script>
    <script>
        window.scrollToElementId = (elementId) => {
            var element = document.getElementById(elementId);
            if (!element) {
                console.warn('element was not found', elementId);
                return false;
            }
            element.scrollIntoView();
            return true;
        }
    </script>
    <script>
        window.clipboardCopy = {
            copyText: function (text) {
                navigator.clipboard.writeText(text).then(function () {
                    alert("Copied to clipboard!");
                })
                    .catch(function (error) {
                        alert(error);
                    });
            }
        };
    </script>
</body>
</html>
