@page "/"
@page "/Leagues"

@using iRLeagueApiCore.Client
@using iRLeagueApiCore.Client.Http
@using iRLeagueManager.Web.Components
@using iRLeagueManager.Web.ViewModels;
@inherits MvvmBlazor.Components.MvvmComponentBase
@inject LeaguesViewModel vm
@inject ILeagueApiClient apiClient

<PageTitle>Leagues</PageTitle>

<MudPaper Elevation="2" Class="mb-2 pa-2">
    <LoadingHeader Loading=@Bind(vm, x => x.Loading)>
        <MudText Typo="Typo.h5">Leagues</MudText>
    </LoadingHeader>
</MudPaper>

<MudPaper Elevation="1">
    <MudSimpleTable Dense="true">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in @Bind(vm, x => x.Leagues))
            {
                <tr>
                    <td>@Bind(league, x => x.LeagueId)</td>
                    <td class="pointer">
                        <NavLink class="nav-link" href="@($"./{@Bind(league, x => x.LeagueName)}")">
                            <DisplayLeague League=league.GetModel() />
                        </NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</MudPaper>

@code {
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return vm.OnAfterRenderAsync(firstRender);
    }
}
