@page "/{LeagueName}"
@page "/{LeagueName}/Seasons/{SeasonId:long}"
@using iRLeagueManager.Web.Components
@using iRLeagueManager.Web.ViewModels
@inherits LeagueComponentBase

<PageTitle>@LeagueName</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudPaper Class="d-flex justify-center pa-2">
        <div>
            @if (string.IsNullOrEmpty(Shared.LeagueInfo?.Description))
            {
                <h3><DisplayLeague League=@Shared.LeagueInfo /></h3>
                <AuthorizeView Roles=@GetRoleString(LeagueRoles.Admin, LeagueRoles.Organizer)>
                    <blockquote class="mt-3 ms-2">
                        Too boring? Enter your league description <a href="@($"/{Shared.LeagueInfo?.Name}/Settings/League")">here</a>.
                    </blockquote>
                </AuthorizeView>
            }
            else
            {
                <DisplayMarkdown Text=@Shared.LeagueInfo?.Description />
            }
        </div>
    </MudPaper>
</MudContainer>

@code {
}
