@page "/{LeagueName}"
@page "/{LeagueName}/Seasons/{SeasonId:long}"
@using iRLeagueManager.Web.Components
@using iRLeagueManager.Web.ViewModels
@inherits LeagueComponentBase
@inject SharedStateService Shared

<div class="container-xxl">
    <div class="card mb-3">
        <div class="card-body">
            <DisplayMarkdown Text=@Shared.LeagueInfo?.Description />
        </div>
    </div>
    <div class="d-flex">

    </div>
</div>

@code {
}
