@page "/Leagues"

@using iRLeagueApiCore.Client
@using iRLeagueApiCore.Client.Http
@using iRLeagueManager.Web.Components
@using iRLeagueManager.Web.ViewModels;
@inherits MvvmBlazor.Components.MvvmComponentBase
@inject LeaguesViewModel vm
@inject ILeagueApiClient apiClient

<div class="container">
    <LoadingHeader Loading=@Bind(vm, x => x.Loading)>
        <h3>Leagues</h3>
    </LoadingHeader>

    <table class="table alternate select-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in @Bind(vm, x => x.Leagues))
            {
                <tr>
                    <td>@Bind(league, x => x.LeagueId)</td>
                    <td><NavLink class="nav-link" href="@($"./{@Bind(league, x => x.LeagueName)}/Seasons")">@Bind(league, x => x.LeagueName)</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return vm.OnAfterRenderAsync(firstRender);
    }
}
