@page "/{LeagueName}/Schedules/Season/{SeasonId:long}"
@using System.Text.Json
@using iRLeagueApiCore.Common.Enums
@using iRLeagueApiCore.Common.Models
@using iRLeagueManager.Web.ViewModels
@using iRLeagueManager.Web.Components
@attribute [Authorize]
@inherits MvvmComponentBase
@inject LeagueApiService apiService
@inject SchedulesPageViewModel vm
@inject NavigationManager navigationManager
@inject JsonSerializerOptions jsonOptions

<LoadingHeader StateProvider=vm>Schedules</LoadingHeader>

<div>
    @foreach(var schedule in @Bind(vm, x => x.Schedules))
    {
        <DisplaySchedule Schedule=schedule/>
    }
</div>

@code {
    [Parameter]
    public string LeagueName { get; set; } = string.Empty;
    [Parameter]
    public long SeasonId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false) return;

        // set season state
        if (SeasonId != 0)
        {
            await apiService.SetCurrentSeasonAsync(LeagueName, SeasonId);
        }

        // load schedules data
        if (apiService.CurrentSeason == null)
        {
            return;
        }
        await LoadSchedules();
    }

    private async Task LoadSchedules()
    {
        await vm.Load();
        // load sessions to display
        foreach(var schedule in vm.Schedules)
        {
            await schedule.LoadEvents();
        }
    }
}
