@page "/{LeagueName}/Seasons"
@page "/{LeagueName}/Seasons/{SeasonId:long}"
@using iRLeagueManager.Web.Components
@using iRLeagueManager.Web.ViewModels
@inherits LeagueComponentBase
@inject NavigationManager navigationManager
@inject LeagueApiService apiService
@inject SeasonsViewModel vm
@inject SharedStateService sharedState
@*@inject AuthenticationStateProvider authStateProvider*@

<div class="container">
    <LoadingHeader Loading=@Bind(vm, x => x.Loading)>
        <h3>Seasons</h3>
    </LoadingHeader>

    <p>@sharedState.SeasonName</p>
</div>

@code {
}
