@page "/{LeagueName}/Settings/Results/Championships/{ChampionshipId:long}"
@using iRLeagueManager.Web.Components
@inherits LeagueComponentBase
@layout SettingsLayout

<div class="input-group mt-2 mb-3">
    <label class="input-group-text">Season</label>
    <SeasonSelect />
</div>
<label>@ChampionshipId</label>

@code {
    [Parameter]
    public long ChampionshipId { get; set; }
}
