@using System.Linq.Expressions
@typeparam TValue

<div class="ms-2">
    @if (For is not null)
    {
        <ValidationMessage For=For />
    }
    @if (string.IsNullOrEmpty(Message) == false)
    {
        <div class="validation-message">@Message</div>
    }
</div>

@code {
    [Parameter] public Expression<Func<TValue>>? For { get; set; }
    [Parameter] public string? Message { get; set; }
}
