@using System.Security.Claims;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>iRLeagueManager.Web</PageTitle>

<MudLayout>
    <Header />
    <MudMainContent Class="page">
        <div class="my-2 pt-2">
            @Body
        </div>
    </MudMainContent>
    <Footer />
</MudLayout>

@code {
    [CascadingParameter]
    public RouteData? RouteData { get; set; }

    private ErrorBoundary? ErrorBoundary { get; set; }

    public string? LeagueName { get; set; }
    //public long? SeasonId { get; set; }
    //public long? EventId { get; set; }

    protected override void OnParametersSet()
    {
        LeagueName = (string?)RouteData?.RouteValues?.GetValueOrDefault("LeagueName");
        ErrorBoundary?.Recover();
    }

    private void Reload()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}
