@inherits LayoutComponentBase

<PageTitle>iRLeagueManager.Web</PageTitle>

<div class="page-header">
    <Header/>
</div>

<div class="page">

    <CascadingValue Value="LeagueName" Name="LeagueName">
    @*<CascadingValue Value="SeasonId" Name="SeasonId">
    <CascadingValue Value="EventId" Name="EventId">*@
        <div class="sidebar">
            <NavMenu />
        </div>
    @*</CascadingValue>
    </CascadingValue>*@
    </CascadingValue>

    <main>
        <article class="content px-2">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter]
    public RouteData? RouteData { get; set; }
    [CascadingParameter]
    public LeagueApiService ApiService { get; set; } = default!;

    public string? LeagueName { get; set; }
    //public long? SeasonId { get; set; }
    //public long? EventId { get; set; }

    protected override void OnParametersSet()
    {
        LeagueName = (string?)RouteData?.RouteValues?.GetValueOrDefault("LeagueName");
    }
}
