@using iRLeagueApiCore.Common.Models;
@inherits EditModalBase<ChampionshipViewModel, ChampionshipModel>

<EditForm Model="Vm" OnValidSubmit=Submit>
    <StatusResultValidator @ref=ResultValidator />
    <div class="input-group-list p-1">
        <InputGroup Label="Name">
            <InputText class="form-control" @bind-Value=Vm.Name />
        </InputGroup>
        <InputGroup Label="Display Name">
            <InputText class="form-control" @bind-Value=Vm.DisplayName data-bs-toggle="tooltip" title="Name to be displayed on results and standings"/>
        </InputGroup>
    </div>
    <FormValidationMessage TValue=string Message=@ResultValidator?.ErrorMessage />
    <CancelSubmitButtons ModelState=Vm SubmitText="Save" OnCancel=Cancel />
</EditForm>

@code {

}
