@using iRLeagueApiCore.Common.Models
@using iRLeagueApiCore.Common.Enums
@inherits EditMudModalBase<LeagueViewModel, LeagueModel>

<MudDialog>
    <DialogContent>
        <EditForm Model=Vm OnValidSubmit=Submit>
            <StatusResultValidator @ref=ResultValidator />
            <MudStack Spacing="2">
                <MudField 
                    Label="Cooldown Period"
                    HelperText="Time to wait after race until protests can be filed"
                    Margin="Margin.None"
                    Class="p-0"
                    Variant="Variant.Outlined"
                >
                    <div class="d-flex justify-space-around align-center gap-4">
                        <MudInput @bind-Value="Vm.CoolDownHrs" AdornmentText="Hrs" Adornment="Adornment.End" Class="flex-grow-1" Style="max-width: 6em" Margin="Margin.None"/>
                        <MudText Class="flex-grow-0">:</MudText>
                        <MudInput @bind-Value="Vm.CoolDownMinutes" AdornmentText="Min" Adornment="Adornment.End" Class="flex-grow-1" Style="max-width: 6em" Margin="Margin.None" />
                    </div>
                </MudField>
                <MudField Label="Keep protests open for"
                            HelperText="Duration of Protests period. Protes form will be automatically after duration expires"
                            Margin="Margin.None"
                            Class="p-0"
                            Variant="Variant.Outlined">
                    <div class="d-flex justify-space-around align-center gap-4">
                        <MudInput @bind-Value="Vm.ProtestsClosedHrs" AdornmentText="Hrs" Adornment="Adornment.End" Class="flex-grow-1" Style="max-width: 6em" Margin="Margin.None" />
                        <MudText Class="flex-grow-0">:</MudText>
                        <MudInput @bind-Value="Vm.ProtestsClosedMinutes" AdornmentText="Min" Adornment="Adornment.End" Class="flex-grow-1" Style="max-width: 6em" Margin="Margin.None" />
                    </div>
                </MudField>
                <MudSelect 
                    Label="Show in public" 
                    HelperText="@GetPublicHelperText(Vm.ProtestPublic)" 
                    @bind-Value="Vm.ProtestPublic" 
                    Variant="Variant.Outlined">
                    <MudSelectItem Value="@ProtestPublicSetting.Hidden">Hide Protests</MudSelectItem>
                    <MudSelectItem Value="@ProtestPublicSetting.WithoutProtester">Show Protests without Protester</MudSelectItem>
                    <MudSelectItem Value="@ProtestPublicSetting.WithProtester">Show Protests and Protester</MudSelectItem>
                </MudSelect>
            </MudStack>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Secondary" OnClick="Cancel">Cancel</MudButton>
        <ProgressButton Color="Color.Primary" OnClick="Submit" Indeterminate="true" Loading="Bind(Vm, x => x.Loading)">Save</ProgressButton>
    </DialogActions>
</MudDialog>

@code {
    private static string GetPublicHelperText(ProtestPublicSetting publicSetting) => publicSetting switch
    {
        ProtestPublicSetting.Hidden => "Protests can be filed but will not be shown to users outside admin or steward roles",
        ProtestPublicSetting.WithoutProtester => "Protest text will be shown to all but name of protester is hidden",
        ProtestPublicSetting.WithProtester => "Protest text and name of protester will be shown to all",
        _ => "",
    };
}
