@using iRLeagueApiCore.Common.Models.Reviews;
@inherits EditModalBase<VoteCategoryViewModel, VoteCategoryModel>

<EditForm Model="Vm" OnValidSubmit=Submit>
    <StatusResultValidator @ref=ResultValidator />
    <div class="input-group-list p-1">
        <InputGroup Label="Text">
            <InputText class="form-control" @bind-Value=Vm.Text data-bs-toggle="tooltip" title="Text to be displayed as vote category"/>
        </InputGroup>
        <FormValidationMessage For=@(() => Vm.Text) />
        <InputGroup Label="Penalty">
            <InputNumber class="form-control" @bind-Value=Vm.DefaultPenalty data-bs-toggle="tooltip" title="Default penalty value in full points"/>
        </InputGroup>
        <FormValidationMessage For=@(() => Vm.DefaultPenalty) />
        <InputGroup Label="Index">
            <InputNumber class="form-control" @bind-Value=Vm.Index data-bs-toggle="tooltip" title="Index for ordering categories in dropdown"/>
        </InputGroup>
    </div>
    <FormValidationMessage TValue=string Message=@ResultValidator?.ErrorMessage />
    <CancelSubmitButtons ModelState=Vm SubmitText="Save" OnCancel=Cancel />
</EditForm>

@code {

}
