@namespace iRLeagueManager.Web.Components
@using static iRLeagueManager.Web.ViewModels.PointRuleViewModel;
@inherits UtilityComponentBase

<MudSimpleTable Class="@Class" Style="@Style" Elevation="Elevation" Bordered="Bordered" Dense="Dense">
    <thead>
        <tr>
            @foreach (var (_, index) in PointRule.PointsPerPlace.WithIndex())
            {
                <th>@(index + 1).</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var point in PointRule.PointsPerPlace)
            {
                <td>@point</td>
            }
        </tr>
    </tbody>
</MudSimpleTable>

@code {
    [Parameter]
    public string Class { get; set; } = string.Empty;
    [Parameter]
    public string Style { get; set; } = string.Empty;
    [Parameter]
    public int Elevation { get; set; } = 2;
    [Parameter]
    public bool Bordered { get; set; }
    [Parameter]
    public bool Dense { get; set; }
    [Parameter]
    public PointRuleViewModel PointRule { get; set; } = default!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        BlazorParameterNullException.ThrowIfNull(this, PointRule);
    }
}
