@using iRLeagueApiCore.Common.Enums
@using iRLeagueApiCore.Common.Models
@using iRLeagueManager.Web.ViewModels
@inherits MvvmComponentBase
@inject ResultSettingsViewModel vm
@inject LeagueApiService apiService
@inject SharedStateService sharedState
@inject ILogger<ResultSettings> logger

<div @attributes=AdditionalAttributes>
    <div class="card my-2 pb-0">
        <div class="card-header">
            Championships
        </div>
        <div class="list-group-flush">
            @foreach ((var championship, var index) in @Bind(vm, x => x.Championships).Select((x, i) => (x, i)))
            {
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" type="button" @onclick=@(() => OnChampionshipClick(championship))>
                    <ChampionshipPreview Championship=championship />
                    <button class="btn btn-outline-danger" @onclick=@(() => OnDeleteChampionshipClick(championship)) @onclick:stopPropagation="true">
                        <span class="oi oi-trash" />
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="card my-2 pb-0">
        <div class="card-header">
            Current Season - @sharedState.SeasonName
        </div>
        <div class="list-group-flush">
            @foreach ((var champSeason, var index) in @Bind(vm, x => x.CurrentChampSeasons).Select((x, i) => (x, i)))
            {
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" type="button">
                    <ChampSeasonPreview ChampSeason=champSeason />
                </div>
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public IModalService ModalService { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)] 
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private async Task HandleSubmit()
    {
        logger.LogInformation("Handle submit called!");
        if (vm.Selected == null)
        {
            return;
        }
        //await vm.Selected.SaveCurrentModelAsync();
        await Task.FromResult(true);
    }

    private async Task OnResultConfigClick(ResultConfigViewModel config)
    {
        var parameters = new ModalParameters<EditResultConfigModal>()
            .Add(x => x.Model, config.CopyModel())
            .Add(x => x.OnSubmit, new(async (vm, ct) => await vm.SaveChangesAsync(ct)));
        var options = new ModalOptions()
        {
            DisableBackgroundCancel = true,
            Size = ModalSize.Large,
        };
        var result = await ModalService.Show<EditResultConfigModal>("Edit Result Config", parameters, options).Result;
        if (result.Confirmed && result.Data is ResultConfigModel model)
        {
            config.SetModel(model);
        }
    }

    private async Task OnChampionshipClick(ChampionshipViewModel championship)
    {
        var parameters = new ModalParameters<EditChampionshipModal>()
            .Add(x => x.Model, championship.CopyModel())
            .Add(x => x.OnSubmit, new((x, cancellation) => x.SaveChangesAsync(cancellation)));
        var result = await ModalService.Show<EditChampionshipModal>("Edit Championship", parameters).Result;
        if (result.Confirmed && result.Data is ChampionshipModel model)
        {
            championship.SetModel(model);
        }
    }

    private Task OnDeleteChampionshipClick(ChampionshipViewModel championship)
    {
        return Task.CompletedTask;
    }

    private async Task OnDeleteResultConfigClick(ResultConfigViewModel config)
    {
        var parameters = new ModalParameters<ConfirmModal>()
            .Add(x => x.Text, $"Really delete result config \"{config.Name}\"?")
            .Add(x => x.ButtonTypes, ButtonTypes.YesNo);
        var result = await ModalService.Show<ConfirmModal>("Delete Result Config", parameters).Result;
        if (result.Confirmed)
        {
            await vm.DeleteConfiguration(config);   
        }
    }

    private async Task OnAddConfigurationClick()
    {
        var parameters = new ModalParameters<EditResultConfigModal>()
            .Add(x => x.Model, CreateConfigFromTemplate())
            .Add(x => x.OnSubmit, new(async (config, ct) => await vm.AddConfiguration(config.GetModel())));
        var options = new ModalOptions()
        {
            DisableBackgroundCancel = true,
            Size = ModalSize.Large,
        };
        var result = await ModalService.Show<EditResultConfigModal>("Add Config", parameters, options).Result;
    }

    private ResultConfigModel CreateConfigFromTemplate()
    {
        return new()
        {
            Name = "New Config",
            DisplayName = "New Config",
            Scorings = new List<ScoringModel>()
            {
                new()
                {
                    Name = "Race",
                    PointRule = new()
                    {
                        PointsSortOptions = new[] { SortOptions.IntvlAsc },
                        FinalSortOptions = new[] { SortOptions.TotalPtsDesc, SortOptions.PenPtsAsc }
                    }
                }
            },
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false)
        {
            return;
        }
        await vm.LoadFromCurrentSeasonAsync();
        await InvokeAsync(StateHasChanged);
    }
}
