@using iRLeagueManager.Web.ViewModels

<div class="@Class" @attributes=AdditionalAttributes>
    <MudText Typo="Typo.h6">@Season.Name</MudText>
    @if (Season.Finished)
    {
        <MudText Typo="Typo.subtitle1">Finished</MudText>
        <MudIcon Icon="@Icons.Material.Outlined.CheckCircle" />
    }
    else
    {
        <MudText Typo="Typo.subtitle1">Running</MudText>
    }
</div>


@code {
    [Parameter(CaptureUnmatchedValues=true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter, EditorRequired]
    public SeasonViewModel Season { get; set; } = default!;

    [Parameter]
    public string Class { get; set; } = "";

    protected override void OnParametersSet()
    {
        _ = Season ?? throw BlazorParameterNullException.New(this, Season);
    }
}
