@inherits SettingBase

<MudListItem Icon="@Icon"
             IconSize="IconSize"
             IconColor="IconColor"
             OnClick="OnClick">
    <MudElement HtmlTag="div" Class="d-flex flex-column align-start justify-center">
        <MudText>
            @if (ChildContent is null)
            {
                @Text
            }
            else
            {
                @ChildContent
            }
        </MudText>
        @if (displayHelperText)
        {
            <p class="mud-input-helper-text">@HelperText</p>
        }
    </MudElement>
</MudListItem>

@code {

}
