.slide {
    position: absolute;
    top: 0;
    left: 24px;
    right: 24px;
    bottom: 0;
}

.slide-in {
    animation: slide-in-right 0.275s ease-in-out;
}

.slide-out {
    animation: slide-out-right 0.275s ease-in-out;
    transform: translateX(100%)
}

@-webkit-keyframes slide-in-right {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0%)
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(0%)
    }
}

@-webkit-keyframes slide-out-right {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(100%)
    }
}

@keyframes slide-out-right {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(100%)
    }
}