@inherits SettingBase

<MudListItem Icon="@Icon"
             IconSize="IconSize"
             IconColor="IconColor"
             OnClick="HandleClick">
    <MudGrid Spacing="0" Justify="Justify.FlexStart">
        <MudItem xs="10" md="9" Class="d-flex flex-column align-start justify-center">
            <MudText>
                @if (ChildContent is null)
                {
                    @Text
                }
                else
                {
                    @ChildContent
                }
            </MudText>
            @if (displayHelperText)
            {
                <p class="mud-input-helper-text">@HelperText</p>
            }
        </MudItem>
        <MudItem xs="2" Class="d-flex align-center justify-end">
            <MudSwitch Checked="Checked" CheckedChanged="CheckedChanged" Color="Color"/>
        </MudItem>
    </MudGrid>
</MudListItem>

@code {
    [Parameter] public bool Checked { get; set; } = false;
    [Parameter] public EventCallback<bool> CheckedChanged { get; set; }

    async Task HandleClick()
    {
        // toggle checked
        Checked = !Checked;
        await CheckedChanged.InvokeAsync(Checked);
    }
}
