@using iRLeagueManager.Web.ViewModels

<div @attributes=AdditionalAttributes>
    <div>
        <h5 style="color: @Team.TeamColor;">@Team.Name</h5>
    </div>
    <h6>Team Members</h6>
    <div class="d-flex">
    @foreach(var member in Team.MemberList)
    {
        <div class="badge bg-secondary me-1 mb-1">@member.FirstName @member.LastName</div>
    }
    </div>
</div>


@code {
    [Parameter(CaptureUnmatchedValues=true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter, EditorRequired]
    public TeamViewModel Team { get; set; } = default!;

    protected override void OnParametersSet()
    {
        _ = Team ?? throw BlazorParameterNullException.New(this, Team);
    }
}